.button-container {
    &__save {
        color: $text-color;
        background-color: rgb(80, 174, 80);
        width: 75px;
        height: 25px;
        border: 1px solid rgb(80, 174, 80);
        border-radius: 3px;
        transition: all .2s;
        &:hover {
            background-color:rgba(80, 174, 80,.9);
        }
    } 
    &__correct {
        color: $text-color;
        background-color: rgb(236, 142, 65);
        width: 35px;
        height: 25px;
        border: 1px solid rgb(236, 142, 65);
        border-radius: 3px;
        margin-left: 5px;
        transition: all .2s;
        &:hover {
            background-color:rgba(236, 142, 65, .8);
        }
    }
    &__delete {
        color: $text-color;
        background-color: rgb(209, 84, 84);
        width: 35px;
        height: 25px;
        border: 1px solid rgb(209, 84, 84);
        border-radius: 3px;
        margin-left: 5px;
        transition: all .2s;
        &:hover {
            background-color:rgba(209, 84, 84, .9);
        }
    }
}

.button-container__save i {
    margin-right: 5px;
}