button {
    display: inline-block;
}
.button-container {
    display: inline-block;
    margin-left: 10px;
    &__save, &__add {
        color: $text-color;
        background-color: rgb(80, 174, 80);
        width: 75px;
        height: 25px;
        border: 1px solid rgb(80, 174, 80);
        border-radius: 3px;
        transition: all .2s;
        &:hover {
            background-color:rgba(80, 174, 80,.9);
        }
    } 
    &__save {
        margin-right: 5px;
    }
    &__add {
        margin-left: 30px;
    }
    &__correct {
        color: $text-color;
        background-color: rgb(236, 142, 65);
        width: 35px;
        height: 25px;
        border: 1px solid rgb(236, 142, 65);
        border-radius: 3px;
        margin-left: 5px;
        transition: all .2s;
        &:hover {
            background-color:rgba(236, 142, 65, .8);
        }
    }
    &__delete, &__cancel {
        color: $text-color;
        background-color: rgb(209, 84, 84);
        border: 1px solid rgb(209, 84, 84);
        border-radius: 3px;
        color: $text-color;
        transition: all .2s;
        &:hover {
            background-color:rgba(209, 84, 84, .9);
        }
    }
    &__delete { 
        width: 35px;
        height: 25px;
        margin-left: 5px;
    }
    &__cancel {
        width: 75px;
        height: 25px;
    }
    
}


.button-container__save i {
    margin-right: 5px;
}