.card {
    border: 1px solid #000;
    border-radius: 10px;
    width: 20%;
    
    margin: 0 auto 20px;
    padding: 40px 0;
    background-color: rgb(250, 243, 234);
    
    &__transcription {
        margin-bottom: 40px;
        color: gray;
    }
    &__english {
        font-weight: $bold-font-weight;
        font-size: 1.2rem;
    }
    &__button-show {
        border-radius: 15px;
        border: 1px solid rgb(80, 174, 80);
        color: #FFF;
        height: 30px;
        width: 170px;
        background-color: rgb(80, 174, 80);
    }
    
}

.card-container {
    &__forward,&__backward {
        border: 0px solid $main-background-color;
        background-color: $main-background-color;
        font-size: 1.2rem;
        transition: all .1s;
       &:hover {
        transform: scale(1.2);
       }
    }  
    &__forward {
    margin-left: 60px;   
    } 
} 

.container {
    padding: 50px ;
    background-color: $main-background-color;
    &__learned {
    margin-top: 10px ;
    }
}

    
    