.table-container {
    &__table {
        margin-left: 20px;
        
    }
}

.table {
    margin-left: 20px;
    text-align: left;
}

.heading-container {
    padding-top: 50px;
    &__heading {
        margin-left: 20px;
    }
}

td,th {
    width: 165px;
    text-align: left;
}

input {
    height: 30px;
}
 