.table {
    margin-left: 80px;
    text-align: left;
    display: inline-block;
}

.Heading {
    padding-top: 50px;
}

td,th {
    width: 155px;
    text-align: left;
    
}

input {
    height: 30px;
    width: 140px;
    margin-left: 15px;
}

.red {
    border: red solid 1px; 
    outline: red solid 1px;
}

.error {
    font-size: .6rem;
    color: red;
    margin-right: 3px; 
}

.inline-block {
    display: inline-block;
}
