$base-font: 'Source Serif Pro';
$text-color: #FFF;
$base-font-size: 1.5rem;
$small-font-size: 1.25rem;
$light-font-weight: 300;
$base-font-weight: 400;
$semi-bold-font-weight: 600;
$bold-font-weight: 700;
$main-background-color: #F3F7EA;
$footer-header-bg-color: rgba(241, 144, 144, 0.22);