* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Source Serif Pro', Arial, sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: #FFF;
}

button {
  display: inline-block;
}

.button-container {
  display: inline-block;
  margin-left: 10px;
}

.button-container__save {
  color: #FFF;
  background-color: #50ae50;
  width: 75px;
  height: 25px;
  border: 1px solid #50ae50;
  border-radius: 3px;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-right: 5px;
}

.button-container__save:hover {
  background-color: rgba(80, 174, 80, 0.9);
}

.button-container__correct {
  color: #FFF;
  background-color: #ec8e41;
  width: 35px;
  height: 25px;
  border: 1px solid #ec8e41;
  border-radius: 3px;
  margin-left: 5px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.button-container__correct:hover {
  background-color: rgba(236, 142, 65, 0.8);
}

.button-container__delete, .button-container__cancel {
  color: #FFF;
  background-color: #d15454;
  border: 1px solid #d15454;
  border-radius: 3px;
  color: #FFF;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.button-container__delete:hover, .button-container__cancel:hover {
  background-color: rgba(209, 84, 84, 0.9);
}

.button-container__delete {
  width: 35px;
  height: 25px;
  margin-left: 5px;
}

.button-container__cancel {
  width: 75px;
  height: 25px;
}

.button-container__save i {
  margin-right: 5px;
}

.card {
  border: 1px solid #000;
  border-radius: 10px;
  width: 20%;
  margin: 0 auto 20px;
  padding: 40px 0;
  background-color: #faf3ea;
}

.card__transcription {
  margin-bottom: 40px;
  color: gray;
}

.card__english {
  font-weight: 700;
  font-size: 1.2rem;
}

.card__button-show {
  border-radius: 15px;
  border: 1px solid #50ae50;
  color: #FFF;
  height: 30px;
  width: 170px;
  background-color: #50ae50;
}

.card__button-show:focus {
  outline: 4px solid yellow;
}

.card-container__forward, .card-container__backward {
  border: 0px solid #F3F7EA;
  background-color: #F3F7EA;
  font-size: 1.2rem;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.card-container__forward:hover, .card-container__backward:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.card-container__forward {
  margin-left: 60px;
}

.container {
  padding: 50px;
  background-color: #F3F7EA;
}

.container__learned {
  margin-top: 10px;
}

.footer {
  padding: 100px 0;
  background-color: rgba(241, 144, 144, 0.22);
}

.header {
  padding: 30px 118px 101px 132px;
  background-color: rgba(241, 144, 144, 0.22);
}

.main {
  background-color: #F3F7EA;
  padding: 20px;
}

.not-found {
  background-color: #F3F7EA;
  padding: 100px;
  font-weight: 700;
  font-size: 1.5rem;
}

.table {
  margin-left: 80px;
  text-align: left;
  display: inline-block;
}

.Heading {
  padding-top: 50px;
}

td, th {
  width: 155px;
  text-align: left;
}

input {
  height: 30px;
  width: 140px;
  margin-left: 15px;
}

.red {
  border: red solid 1px;
  outline: red solid 1px;
}

.error {
  font-size: .6rem;
  color: red;
  margin-right: 3px;
}

.inline-block {
  display: inline-block;
}

.logo {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.logo--smaller {
  font-size: 1.5rem;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.flex-cont-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home, .game {
  font-size: 1.5rem;
  list-style-type: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.home__link, .game__link {
  color: #000;
}

.home__link:hover, .game__link:hover {
  text-decoration: underline;
}

.home__link {
  margin-right: 35px;
}
/*# sourceMappingURL=style.css.map */